:root {
    --bg-dark: #111111;
    --text-light: #ffffff;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}

body {
    padding: 20px;
    background-color: var(--bg-dark);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.main-title {
    font-size: clamp(2rem, 4vw, 3.5rem);
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 2px;
}

.accordion {
    display: flex;
    width: 100%;
    height: 500px;
    gap: 12px;
}

.accordion-item {
    position: relative;
    flex: 1;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: flex 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.accordion-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), transparent 70%);     /* 做一個黑色的遮罩 */
    z-index: 1;
}

.accordion-content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.accordion-item:hover, 
.accordion-item.active {
    flex: 5;
    
}

.accordion-item:hover .accordion-content,
.accordion-item.active .accordion-content {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;                                                        /* 手機板改成向上對齊 */
        padding: 60px;
    }
    
    .main.title {
        margin-bottom: 30px;
    }
    
    .accordion {
        flex-direction: column;                                                         /* 手機板改成直向的 */
        height: auto;
        gap: 15px;
    }

    .accordion-item {
        flex: none;
        width: 100%;
        height: 100px;
        transition: height 0.5s ease;
    }

    .accordion-item:hover {
        flex: none;
    }

    .accordion-item.active {
        height: 350px;
        flex: none;
    } 
}
