:root {
    --bg-body: #f1f0ea;
    --bg-item: #ffffff;       
    --bg-header: #f8f9fa;  
    --bg-header-hover: #f0f0f0;   
    --bg-content: #ffffff;    
    --text: #4a4a4a;          
    --accent: #d4a373;       
    --shadow-item: rgba(0,0,0,0.05);
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--bg-body);
    margin: 0;
    font-family: 'Segoe UI', Times, serif;
}

.container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.accordion {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.accordion-title {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 2rem);
}

.accordion-item {
    background-color: var(--bg-item);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px var(--shadow-item);
    overflow: hidden;                           /* 避免溢出容器 */
}

.accordion-item.active .accordion-content {
    max-height: 500px;
}

.accordion-header {
    width: 100%;
    padding: 15px 20px;
    background-color: var(--bg-header);
    color: var(--text);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header:hover {
    background-color: var(--bg-header-hover); /* 滑鼠移入時稍微變深 */
}

.accordion-header h3 {
    font-size: 1.2rem;
    margin: 0;
}

.accordion-header:hover h3 {
    color:  var(--accent);
}

.icon {
    color: var(--accent);
    font-size: 1.5rem;
}

.accordion-item.active .icon {
    transform: rotate(45deg);
    color: var(--text);
}

.accordion-item.active .accordion-header h3 {
    color: var(--accent);
    font-weight: bold;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: var(--bg-content);
    color: var(--text);
    transition: max-height 0.3s ease;
}

.accordion-content p {
    padding: 15px 20px;
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-size: 0.95rem;
}