:root {
    --bg-color: #f0f0f0;
    --primary-color: #4a90e2;
    --secondary-color: #50e3c2;
    --text-color: #333333;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-section {
    max-width: 1000px;
    margin: 10px auto;
    font-family: "Poppins", sans-serif;
    color: #333;
}

#imageUpload {
    padding: 5px;
    border: 2px dashed var(--primary-color); /*dashed 是虛線*/
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
} 

#imageUpload:hover {
    border-color: #34a325e3;
}

.masonry-grid {
    margin-top: 20px;
    columns: 3;
    column-gap: 15px;
}

@media (max-width: 768px) {
    .masonry-grid {
        columns: 2;
    }
}

@media (max-width: 480px) {
    .masonry-grid {
        columns: 1;
    }
}

.masonry-item {
    position: relative;
    break-inside: avoid;        /* 防止圖片在多欄佈局中被拆分 */
    border-radius: 15px;
    overflow: hidden;           /* 圖片超過容器部分隱藏 */
    display: inline-block;      /* 讓圖片元素成為行內區塊 */
    width: 100%;                /* 確保圖片佔滿容器寬度 */
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
}

.masonry-item:hover img {
    transform: scale(1.05);
}

.delete-btn {
    position: absolute;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.masonry-item:hover .delete-btn {
    opacity: 1;
}