html, body {
    margin: 0px;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecc7c7;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.grid {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
    justify-items: center;   /*控制 grid 裡面的元素置中 */
}

.card {
    width: 250px;
    height: 150px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(100, 68, 68, 0.08);
    transition: 0.3s;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card p {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 15px; 
    left: 50%;
    transform: translateX(-50%); 
}

.spinner {              
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%; 
    border: 8px solid rgb(26, 14, 185);                                           /* 設定外邊框顏色藍色 */
    border-right-color: #21e2c8;                                                  /* 覆蓋右側邊框顏色 */
    animation: spinner 1s infinite linear;                                          /* infinite 無限重複， linear 固定速度 */
}

@keyframes spinner {
    100% {
        transform: rotate(1turn)                                                    /* 將元素旋轉一圈 */
    }
}

.infinity {
    width: 90px;
    height: 10px;
    background-image: radial-gradient(circle closest-side, #000 92%, #0000);    /* 設定成圓形背景圖片 */                                               
    background-position: calc(100%/3);                                              /* 背景圖片的起點為容器寬度1/3處 */ 
    background-size: calc(100%/4) 100%;                                             /* 設定尺寸為25%*/
    background-repeat: repeat;
    animation: infinity 0.5s infinite linear;                                      
}

@keyframes infinity {
    100% { 
        background-position: 0 0;                                                   /* 動畫結束到達100%時，將背景位置設定左上角 */
    }
}

.progress {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background-image: linear-gradient(orange 0 0);                                /* 設定橘色背景 */
    background-position: 0 0;                                                       /* 設定位置為左上角 */
    background-size: 0%;                                                            /* 設定寬度0%，高度自動 */       
    background-repeat: no-repeat;
    background-color: lightblue;
    animation: progress 3s infinite steps(10);                                      /* steps(10) 將 progress 以10個步驟進行 */
}

@keyframes progress {
    100% {
        background-size: 110%;                                                      /* 讓背景圖片寬度逐漸填滿並稍微溢出 */
    }
}

/* 主要文字容器 */
.typing {
    font-weight: bold;
    font-size: 1.8rem;
    color: aqua;
    text-shadow: 1px 1px 2px pink; 
    width: 10ch;                                                                    /* 設定10個字元 */
    overflow: hidden;                                                               /* 隱藏超出寬度的文字 */
    white-space: nowrap;                                                            /* 確保文字不換行 */
    border-right: .1em solid rgba(0, 0, 0, 0.5);                                  /* 設定閃爍的光標 */
    animation: 
        typing 2s steps(10) infinite ,                                              /* 打字動畫 */
        blink-line .75s step-end infinite;                                          /* 光標閃爍動畫 */
}

.typing::before {
    content: "Loading...";
}

@keyframes typing {
    from { 
        width: 0; 
    }

    to { 
        width: 10ch; 
    } 
}

@keyframes blink-line {
    from { 
        border-color: transparent;                                                  /* transparent 透明 */
    }                  

    50% { 
        border-color: rgba(0, 0, 0, 0.5);                                         
    } 

    to { 
        border-color: transparent;                                                  
    }
}

.bar {
    width: 50px;
    aspect-ratio: 0.75;
    --bar: no-repeat linear-gradient(#bb35f0 0 0);                                /* 使用變數定義 background-image、background-repeat 屬性*/
    background:                                                                     /* 將剛儲存的設定放進去，並加入background-position */
        var(--bar) 0%   50%,
        var(--bar) 50%  50%,
        var(--bar) 100% 50%;
    background-size: 20% 50%;
    animation: bar-shark 2s infinite linear;
}

@keyframes bar-shark {
    20% {
        background-position: 0% 0%  ,50% 50% ,100% 50%;                             /* 第一條移至頂部，第二、三條不變 */
    }                           
    40% {
        background-position: 0% 100%,50% 0%  ,100% 50%;                             /* 第一條移至底部，第二條移至頂部、第三條不變 */
    }                           
    60% {
        background-position: 0% 50% ,50% 100%,100% 0%;                              /* 第一條不變，第二條移至底部、第三條移至頂部 */
    }                          
    80% {
        background-position: 0% 50% ,50% 50% ,100% 100%;                            /* 第一條不變，第二條不變、第三條移至底部 */
    }                           
    100% {
        background-position: 0% 50% ,50% 50% ,100% 50%;                             /* 所有 bar 回歸初始位置 */
    }                          
} 

.arrow {
    width: 50%;
    height: 30px;
    display: flex;
}

.arrow::before {
    content:  "";
    background-color: #d4c822;
    width: 15px;
    clip-path: polygon(                                                             /* 使用 clip-path 裁切出箭頭形狀 只顯示頭部*/
        0 10px,
        calc(100% - 15px) 10px,
        calc(100% - 15px) 0,
        100% 50%,
        calc(100% - 15px) 100%,
        calc(100% - 15px) calc(100% - 10px),
        0 calc(100% - 10px)
    );
    animation: arrow 2s infinite linear;
}

@keyframes arrow {  
    90%, 100% {                                                                     /* 90% 到 100% 製造延遲後瞬間擴展的效果 */ 
        flex-grow: 1;                                                               /* width: 15px 會被替換成 flex-grow: 1，讓元素佔滿所有可用空間 */
    }
} 
