
:root {
    --bg-main: #f5f5f7;
    --bg-card: #ffffff;
    --text-main: #1d1d1f;
    --text-muted: #86868b;
    --text-light: #ffffff;
    --primary-color: #000000;
    --shadow-card: rgba(0, 0, 0, 0.04);
    --skeleton-base: #e8e8ed;
    --skeleton-highlight: #f5f5f7;
}

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    background-color: #f1f3f5;
    font-family:'Times New Roman', Times, serif;
    user-select: none;  
}

.container {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}

.page-title {
    font-size: clamp(2rem, 2.5vw, 4rem);
}

.grid-card {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    width: 100%;
}

@media (max-width: 768px) {
    .grid-card {
        grid-template-columns: 1fr;
    }
}

.card {
    background-color: var(--bg-card);
    border-radius: 15px;
    box-shadow: 0 16px 32px var(--shadow-card);
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.skeleton > div {
    background-image: linear-gradient(                  /* 製作灰色的讀取條 */
        100deg,
        var(--skeleton-base) 40%,
        var(--skeleton-highlight) 50%,
        var(--skeleton-base) 60%
    );
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite;
    border-radius: 10px;
    margin-bottom: 12px;
    display: block;
}

@keyframes shimmer {
    to{
        background-position: -200% 0;                   /* 利用移動位置呈現出由左向右流動的效果*/
    }
}

.sk-image {
    height: 160px;
    border-radius: 10px;
}

.sk-title {
    height: 20px;
    width: 60%;
}

.sk-text {
    height: 14px;
    width: 90%;
}

.sk-text.short {
    width: 70%;
}

.sk-button {
    height: 40px;
    width: 40%;
    border-radius: 15px;
}

.content {
    display:none;
}

.content img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.content h3 {
    margin: 15px 0;
    color: var(--text-main);
}

.content p {
    color: var(--text-muted);
    font-size: 15px;
}

.content button {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius:  15px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-light);
    cursor: pointer;
}