:root {
    --primary: #6366f1;
    --glass: rgba(255, 255, 255, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,body {
    background-image: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.container {
    min-height: 100dvh;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 20px 0 40px 0;
}

.header p {                                                 /* 設定字體漸層顏色及字體大小 */
    text-align: center;
    background-image: linear-gradient(90deg, #4f46e5, #9333ea);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    font-weight: 800;
}

.products-grid {
    display: grid;
    gap: 15px;
    width: 100%;
    max-width: 600px;
}

@media (min-width: 768px) {
    .products-grid {
        width: 80%;    
    }
}

@media (min-width: 1024px) {
    .products-grid {
        width: 60%;    
    }
}

.products-card {
    background-color: var(--glass);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    font-size: clamp(0.9rem, 4vw, 1.1rem);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
    transition:  all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
    transform: translateY(30px);
}

.products-card.reveal { 
    opacity: 1; 
    transform: translateY(0); 
}

@media (hover:hover) {                                      /* 只在支援 hover 的裝置執行縮放 */
    .products-card:hover {
        transform: scale(1.05);
        background-color: #ffffff;
        border-color: var(--primary);
        box-shadow: 0 20px 40px rgba(99, 102, 241, 0.1);
    }
} 

.price {
    font-weight: 500;
    color: var(--primary);
    white-space: nowrap;                                    /* white-space: nowrap 防止換行 */
}