:root {
    --gradient-start: #f8fafc;
    --gradient-end: #f8fafc;
    --primary: #6366f1;
    --primary-dark: #4f46e5;
    --secondary: #9333ea;

    --clr-white: #ffffff;
    --clr-hover: #f1f5f9;
    --text-muted: #64748b;

    --glass: rgba(255, 255, 255, 0.7);
    --border-glass: rgba(255, 255, 255, 0.6);
    --shadow-light: rgba(255, 255, 255, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.05);
    --shadow-primary: rgba(99, 102, 241, 0.1);
    --shadow-active: rgba(99, 102, 241, 0.4);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,body {
    background-image: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    font-family: 'Segoe UI', sans-serif;
    user-select: none;
}

.container {
    min-height: 100dvh;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 20px 0 40px 0;
}

.header p {                                                 /* 設定字體漸層顏色及字體大小 */
    text-align: center;
    background-image: linear-gradient(90deg, var(--primary-dark), var(--secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    font-weight: 800;
}

.products-grid {
    display: grid;
    gap: 15px;
    width: 100%;
    max-width: 600px;
}

@media (min-width: 768px) {
    .products-grid {
        width: 80%;    
    }
}

@media (min-width: 1024px) {
    .products-grid {
        width: 60%;    
    }
}

.products-card {
    background-color: var(--glass);
    backdrop-filter: blur(12px);
    border: 1px solid var(--border-glass);
    border-radius: 20px;
    font-size: clamp(0.9rem, 4vw, 1.1rem);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 25px var(--shadow-light);
    transition:  all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
    transform: translateY(30px);
}

.products-card.reveal { 
    opacity: 1; 
    transform: translateY(0); 
}

@media (hover:hover) {                                      /* 只在支援 hover 的裝置執行縮放 */
    .products-card:hover {
        transform: scale(1.05);
        background-color: var(--clr-white);
        border-color: var(--primary);
        box-shadow: 0 20px 40px var(--shadow-primary);
    }
} 

.price {
    font-weight: 500;
    color: var(--primary);
    white-space: nowrap;                                    /* white-space: nowrap 防止換行 */
}

.nav-wrapper {
    margin-top: 40px;
}

.p-capsule {
    background-color: var(--clr-white);
    padding:10px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
    box-shadow: 0 10px 30px var(--shadow-dark);
}

.p-dot {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--text-muted);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2,1);
}

.p-dot:hover:not(.active) {
    background: var(--clr-hover);
    color: var(--primary);
}

.p-dot.active {
    background-color: var(--primary);
    color: var(--clr-white);
    box-shadow: 0 8px 16px var(--shadow-active);
    transform: scale(1.1);
}
